body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(46, 46, 46) !important;
  color: white !important;
}

.normal {
  background-color: #a8a878;
  border-top-color: lighten(#a8a878, 15%);
  border-bottom-color: darken(#a8a878, 15%);
}
.fire {
  background-color: #ff1818;
  border-top-color: lighten(#ff1818, 15%);
  border-bottom-color: darken(#ff1818, 15%);
}
.fighting {
  background-color: #c03028;
  border-top-color: lighten(#c03028, 15%);
  border-bottom-color: darken(#c03028, 15%);
}
.water {
  background-color: #6890f0;
  border-top-color: lighten(#6890f0, 15%);
  border-bottom-color: darken(#6890f0, 15%);
}
.poison {
  background-color: #a040a0;
  border-top-color: lighten(#a040a0, 15%);
  border-bottom-color: darken(#a040a0, 15%);
}
.electric {
  background-color: #f8d030;
  border-top-color: lighten(#f8d030, 15%);
  border-bottom-color: darken(#f8d030, 15%);
}
.ground {
  background-color: #e0c068;
  border-top-color: lighten(#e0c068, 15%);
  border-bottom-color: darken(#e0c068, 15%);
}
.grass {
  background-color: #78c850;
  border-top-color: lighten(#78c850, 15%);
  border-bottom-color: darken(#78c850, 15%);
}
.flying {
  background-color: #a890f0;
  border-top-color: lighten(#a890f0, 15%);
  border-bottom-color: darken(#a890f0, 15%);
}
.ice {
  background-color: #98d8d8;
  border-top-color: lighten(#98d8d8, 15%);
  border-bottom-color: darken(#98d8d8, 15%);
}
.bug {
  background-color: #a8b820;
  border-top-color: lighten(#a8b820, 15%);
  border-bottom-color: darken(#a8b820, 15%);
}
.psychic {
  background-color: #f85888;
  border-top-color: lighten(#f85888, 15%);
  border-bottom-color: darken(#f85888, 15%);
}
.rock {
  background-color: #b8a038;
  border-top-color: lighten(#b8a038, 15%);
  border-bottom-color: darken(#b8a038, 15%);
}
.dragon {
  background-color: #7038f8;
  border-top-color: lighten(#7038f8, 15%);
  border-bottom-color: darken(#7038f8, 15%);
}
.ghost {
  background-color: #705898;
  border-top-color: lighten(#705898, 15%);
  border-bottom-color: darken(#705898, 15%);
}
.dark {
  background-color: #705848;
  border-top-color: lighten(#705848, 15%);
  border-bottom-color: darken(#705848, 15%);
}
.steel {
  background-color: #b8b8d0;
  border-top-color: lighten(#b8b8d0, 15%);
  border-bottom-color: darken(#b8b8d0, 15%);
}
.fairy {
  background-color: #ffb7fa;
  border-top-color: lighten(#ffb7fa, 15%);
  border-bottom-color: darken(#ffb7fa, 15%);
}

.pokedex-logo {
  font-size: 35px;
  text-decoration: none;
  font-family: "Pokemon Solid", sans-serif;
  color: white;
  transition: 0.2s;
}
.pokedex-logo:hover {
  color: rgb(228, 228, 228);
}

.pokemon-img {
  width: 100%;
  opacity: 1;
  transition: 0.3s;
}

.pokemon-img-container:hover .pokemon-img {
  opacity: 0.7;
}

@media (max-width: 576px) {
  .pokemon-img {
    width: 50%;
  }
}

.pokemon-info-img {
  width: 50%;
}

.pokemon-name {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}

.pokemon-info-name {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

.pokemon-id {
  font-family: "Roboto", sans-serif;
}

.single-pokemon {
  border-radius: 20px;
}

.pokemon-type {
  font-size: 15px;
  font-family: "Trebuchet MS";
  font-weight: bold;
  width: 6em;
  text-align: center;
  display: inline-block;
  border: 0.1em solid transparent;
  padding: 0.1em 0.2em 0.2em;
  margin: 0.1em 0.015em;
  border-radius: 0.4em;
}

.pokemon-type-txt {
  text-transform: uppercase;
  font-size: 0.8em;
  color: white;
  text-shadow: 0em 0em 0.2em black;
  margin-bottom: 0;
}

.not-found {
  height: 70vh;
}

.go-back {
  color: white;
  transition: 0.2s;
}
.go-back:hover {
  color: rgb(172, 172, 172);
}
